{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}



<div class="main-container">
    <div class="reset-container">
        <h1>Password Changed Successfully</h1>
        <p class= style="color: green; font-size: 30px;">Your password has been successfully updated!</p>
        <div>
            <span>
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('index') }}">Home</a>
            </span>
        </div>
    </div>
</div>

{% endblock %}