{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}

<div class="main-reset-container">
    <div class="reset-container">
        <form class="change-pass-form" action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            
            <h1 class="change-pass-header">Reset your password</h1>
            <p>
                {{ form.password.label }}<br>
                {{ form.password }}
                {% for error in form.password.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </p>

            <p>
                {{ form.password2.label }}<br>
                {{ form.password2 }}
                {% for error in form.password2.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            </p>

            <p>{{ form.submit() }}</p>
        </form>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const passInput = document.getElementById("password");
        const confirmInput = document.getElementById("password2");
        const submitBtn = document.getElementById("submit");

        function validateForm() {
            if (passInput.value.trim() !== '' && confirmInput.value.trim() !== '') {
                submitBtn.disabled = false;
                submitBtn.classList.remove('disabled');
            } else {
                submitBtn.disabled = true;
                submitBtn.classList.add('disabled');
            }
        }

        passInput.addEventListener('input', validateForm);
        confirmInput.addEventListener('input', validateForm);

        validateForm();
    });


</script>

{% endblock %}

