/* styles.css */
body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(247, 250, 252);
  }

  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
  }
  
  .center-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 800px;
    width: 600px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 15px;
    background-color: #FFFFFF;
  }

h1 {
    margin-top: 6%;
    text-align: center;
    padding: 20px;
    width: 70%;
    border-radius: 20px;
    color: rgb(60, 65, 85);
}

form {
    width: 80%;
    height: 50%;;
    margin-right: 50%;
    margin-left: 60%;
}

input, select {
    width: 80%;
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid rgb(224, 225, 228);
    border-radius: 5px;
    transition: border-color 0.3s, box-shadow 0.3s;
    font-size: 15px;
}

input:focus, select:focus {
    border-color: #4d90fe;
    box-shadow: 0 0 0 4px rgba(190, 216, 237, 0.7);
    outline: none;
}

label {
    margin-bottom: 10px;
    display: block;
    margin-left: 3px;
    font-size: 15px;
    color: rgb(86, 89, 102);
}



  
  