body {
  font-family: 'Roboto', sans-serif;
  background-image: url("images/cool-background.png");
  background-size: cover;
  background-position: center;
  height: 100%;
  overflow: hidden;
}

.welcome-header {
  display: flex;
  justify-content: flex-end;
}

/* Layout Containers */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.center-container,
.center-edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 805px;
  width: 570px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 15px;
  background-color: #FFFFFF;
  margin: 40px;
}

.side-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
  width: 500px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 15px;
  background-color: #FFFFFF;
}

/* Custom Scrollbar Styles */

ul::-webkit-scrollbar {
  width: 12px; 
}

ul::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: 15px;
}

ul::-webkit-scrollbar-thumb {
  background-color: #c0c0c0;
  border-radius: 10px; 
  border: 2px solid #f1f1f1; 
}

ul::-webkit-scrollbar-thumb:hover {
  background-color: #7c7c7c; 
}

/* Animation */
.center-edit-container {
  animation: moveUp .3s ease-out forwards;
}

@keyframes moveUp {
  from {
      transform: translateY(10%);
  }
  to {
      transform: translateY(0);
  }
}

/* Form and Input Styles */
.data-input {
  font-family: 'Roboto', sans-serif;
  color: rgb(86, 89, 102);
}

.leave-input {
  font-family: 'Roboto', sans-serif;
  color: #565966;
  width: 85.5%;
}

/* Heading Styles */
h1,
h2 {
  margin-top: 6%;
  text-align: center;
  padding: 20px;
  width: 70%;
  border-radius: 20px;
  color: rgb(60, 65, 85);
}

h2 {
  font-size: 27px;
  margin-bottom: 0;
}

.edit-header {
  margin-top: 15px;
}

/* Form and Input Container Styles */
.leave-request-form {
  width: 80%;
  height: 50%;
  margin-right: 50%;
  margin-left: 60%;
}

.leave-request-form input,
select {
  width: 80%;
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid rgb(224, 225, 228);
  border-radius: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

.leave-request-form input:focus,
select:focus {
  border-color: #4d90fe;
  box-shadow: 0 0 0 4px rgba(190, 216, 237, 0.7);
  outline: none;
}

.leave-request-form label {
  margin-bottom: 10px;
  display: block;
  margin-left: 3px;
  font-size: 15px;
  color: rgb(86, 89, 102);
}

.leave-request-form .comment-box {
  padding-bottom: 50px;
  margin-bottom: 30px;
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

/* Submit Button Styles */
.leave-request-form .submit-button {
  border-radius: 5px;
  border: none;
  width: 86%;
  background-color: rgb(99, 91, 255);
  color: white;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.submit-button:hover {
  transform: translateY(-2px);
}

/* Side Container List and Item Styles */
.side-container ul {
  list-style-type: none;
  width: 90%;
  overflow-y: auto;
  overflow-x: hidden
}

.side-container li {
  padding: 10px 20px;
  border-bottom: 1px solid rgb(224, 225, 228);
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leave-request-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  color: #333;
  font-size: 15px;
  font-weight: bold;
  margin-left: 20px;
}


.side-container button {
  background-color: #007BFF;
  color: #FFFFFF;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s ease;
  margin-bottom: 6px;
  margin-left: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 113px;
  width: 70px;
  margin-right: 10px;
  margin-top: 5px;
  
}

.side-container button:first-child {
  margin-left: 0;
}

.side-container button:hover {
  transform: translateY(-2px);
}

#delete-button {
  background-color: #dc3545;
  padding-right: 7.5px;
}

#edit-btn {
  width: 56px;
  margin-left: 42px;
}
